.container {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    /* grid-template-rows: 50Ppx 50px; */
    grid-template: repeat(2, 50px) / repeat(3, 1fr);
    grid-gap: 3px;
} 